<aside class="sidebar d-none d-md-block">
    <div class="sidebar_inner">
        <a href="">
            <img src="{{base_url()}}public/static/templates/frontend/home/images/samnhung.png" alt="">
        </a>
    </div>
</aside>