<!-- <aside class=" d-none d-sm-block">
    <div class="sidebar_inner">
        <a href="">
            <img src="{{base_url()}}public/static/templates/frontend/home/images/vietnam_afc2018.jpg" alt="">
        </a>
    </div>
</aside> -->

<aside class="sidebar d-none d-sm-block">
    <div class="sidebar_inner">
        <a href="">
            <img src="{{base_url()}}public/static/templates/frontend/home/images/redme.jpg" alt="">
        </a>
    </div>
</aside>