<!-- nav head -->
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Trang Chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tin Tức</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Thông Tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liên Hệ</a>
            </li>
        </ul>