$color_white: #ffffff;
$color_black: #000000;


$color_bg_global: #f6e5c2;


// header
$logo: url(../images/logo_gosu.png) no-repeat;

// devices
$devices_900: 900px;
$devices_1024: 1024px;
$devices_1366: 1366px;
$devices_1440: 1440px;
$devices_1600: 1600px;
$devices_1920: 1920px;

