<title>Website News Feed | The Voux</title>
<meta name="description" content="The Voux is website show news feed all the world."/>
<meta name="keywords" content="the voux, voux, news, the world, news feed, football, sport, clothes."/>

<meta property="og:title" content="The Voux" />	
<meta property="og:description" content="The Voux" />

<meta property="og:image" content="/public/static/uploads/thefoux.jpg" />
<meta property="og:image:type" content="image/jpeg" />

<meta property="og:url" content="current_url" />
<meta property="og:type" content="website" />
<link rel="icon" type="image/png" href="/favicon.ico">