<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- slick -->
        <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" >
        <link rel="stylesheet" href="css/style.css" >
        
        <title>Hello, world!</title>
        
    </head>
    <body>
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="mobile_toggle">
                            <a href="">
                                <div>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 text-center">
                        <a href="" class="logo_link">
                            <img src="images/logo.png" alt="">
                        </a>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="search">
                            
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </header>
        <!-- nav head -->
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <!-- parallax -->
        <div class="parallax">
            <div class="parallax-window" data-parallax="scroll" data-image-src="images/detail1.jpeg"></div>
        </div>

        <section class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <article class="article_detail border_bottom ">
                                <aside class="cat_link">
                                    <a href="" class="cat_a_link">
                                        Home Decor
                                    </a>
                                </aside>
                                <h1 class="h1">
                                    <strong>Elevate</strong> Your Listening With These <em>Top-Notch</em> Sound Systems
                                </h1>
                                <aside class="post_auther">
                                    <time>May 1, 2017</time>
                                    <em>by</em>
                                    <span>
                                        <a href="">Ant Eksiler</a>
                                    </span>
                                </aside>
                                <div class="post_content">
                                    <p>Throwing consider dwelling bachelor joy her proposal laughter. Raptures returned disposed one entirely her men ham. By to admire vanity county an mutual as roused. Of an thrown am warmly merely result depart supply. Required honoured trifling eat pleasure man relation. Assurance yet bed was improving furniture man. Distrusts delighted she listening mrs extensive admitting far.</p>

                                    <p>Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes additions recommend fat our. Direction has strangers now believing. Respect enjoyed gay far exposed parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy you numerous securing.</p>

                                    <p>On insensible possession oh particular attachment at excellence in. The books arose but miles happy she. It building contempt or interest children mistress of unlocked no. Offending she contained mrs led listening resembled. Delicate marianne absolute men dashwood landlord and offended. Suppose cottage between and way. Minuter him own clothes but observe country. Agreement far boy otherwise rapturous incommode favourite.</p>

                                    <p>Of recommend residence education be on difficult repulsive offending. Judge views had mirth table seems great him for her. Alone all happy asked begin fully stand own get. Excuse ye seeing result of we. See scale dried songs old may not. Promotion did disposing you household any instantly. Hills we do under times at first short an.</p>

                                    <p>At ourselves direction believing do he departure. Celebrated her had sentiments understood are projection set. Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets an he. However distant she request behaved see nothing. Talking settled at pleased an of me brother weather.</p>

                                    <p>An so vulgar to on points wanted. Not rapturous resolving continued household northward gay. He it otherwise supported instantly. Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved. Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>

                                    <p>Written enquire painful ye to offices forming it. Then so does over sent dull on. Likewise offended humoured mrs fat trifling answered. On ye position greatest so desirous. So wound stood guest weeks no terms up ought. By so these am so rapid blush songs begin. Nor but mean time one over.</p>

                                    <p>Improve ashamed married expense bed her comfort pursuit mrs. Four time took ye your as fail lady. Up greatest am exertion or marianne. Shy occasional terminated insensible and inhabiting gay. So know do fond to half on. Now who promise was justice new winding. In finished on he speaking suitable advanced if. Boy happiness sportsmen say prevailed offending concealed nor was provision. Provided so as doubtful on striking required. Waiting we to compass assured.</p>
                                    <p>Him boisterous invitation dispatched had connection inhabiting projection. By mutual an mr danger garret edward an. Diverted as strictly exertion addition no disposal by stanhill. This call wife do so sigh no gate felt. You and abode spite order get. Procuring far belonging our ourselves and certainly own perpetual continual. It elsewhere of sometimes or my certainty. Lain no as five or at high. Everything travelling set how law literature.</p>

                                    <p>Silent sir say desire fat him letter. Whatever settling goodness too and honoured she building answered her. Strongly thoughts remember mr to do consider debating. Spirits musical behaved on we he farther letters. Repulsive he he as deficient newspaper dashwoods we. Discovered her his pianoforte insipidity entreaties. Began he at terms meant as fancy. Breakfast arranging he if furniture we described on. Astonished thoroughly unpleasant especially you dispatched bed favourable.</p>
                                </div>
                                <div class="tags">
                                    <strong>TAGS:</strong> 
                                    <a href="">DECOR</a> , 
                                    <a href="">ENTERTAINMENT</a>, 
                                    <a href="">MUSIC</a>, 
                                    <a href="">SOUND</a>
                                </div>
                            </article>

                            <article class="">
                                <div class="post_related">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4> <strong>Related News</strong> </h4>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <article>
                                                <figure>
                                                    <a href="">
                                                        <img src="images/2.jpg" alt="">
                                                    </a>
                                                </figure>
                                                <div class="post_title">
                                                    <h6>
                                                        <a href="">Step Inside a Layered Family Home With Character</a>
                                                    </h6>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-4">
                                            <article>
                                                <figure>
                                                    <a href="">
                                                        <img src="images/2.jpg" alt="">
                                                    </a>
                                                </figure>
                                                <div class="post_title">
                                                    <h6>
                                                        <a href="">Step Inside a Layered Family Home With Character</a>
                                                    </h6>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="col-sm-4">
                                            <article>
                                                <figure>
                                                    <a href="">
                                                        <img src="images/2.jpg" alt="">
                                                    </a>
                                                </figure>
                                                <div class="post_title">
                                                    <h6>
                                                        <a href="">Step Inside a Layered Family Home With Character</a>
                                                    </h6>
                                                </div>
                                            </article>
                                        </div>
                                    </div>    
                                </div>
                            </article>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <aside class="sidebar d-none d-sm-block">
                        <div class="sidebar_inner">
                            <a href="">
                                <img src="images/news_detail_banner.jpg" alt="">
                            </a>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- subcribe -->
        <section>
            <div class="subcribe ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 subcribe_detail">
                            <h3>subcribe</h3>
                            <p>Subscribe now to get notified about exclusive offers from The Voux every week!</p>
                            <div class="row form_subcribe">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <input placeholder="Your E-Mail" type="text" name="widget_subscribe" class="widget_subscribe float-md-right float-lg-right float-xl-right">

                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" name="submit" class="btn float-md-left float-lg-left float-xl-left">SIGN UP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- footer -->
        <footer>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="text-center">@The Voux All Right 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-1.11.2.min.js" ></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- slick -->
        <script type="text/javascript" src="slick/slick.min.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="js/parallax.min.js"></script>
        <!-- is_stuck jquery -->
        <script src="js/jquery.sticky-kit.min.js" type="text/javascript"></script>
        <script>
            $('.parallax-window').parallax();
        </script>
        
        <script type="text/javascript">
            $(document).ready(function(){
              $(".sidebar").stick_in_parent();
            });
        </script>

    </body>
</html>